@charset "UTF-8";

* {
   font-family: Arial, Helvetica, sans-serif;
   /*height: 100%;*/
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #8a2c23ad;
    width: 600px;
    padding: 10px;
    margin:auto;
}

h1 {
    color:#B452F7;
    text-align: center;
    text-shadow: 1px 1px 2px #8e40c2c0;
}

h2 {
    color:#E06B4A;
}
body {
    background-image: linear-gradient(to bottom, #F7965E, #45F7F6);
}
P {
    text-align:justify;
}



